.icon{
    width:3rem;
    height:3rem;
    margin-right: .75rem;
}
.title{
    color:white;
    font-size:1.75rem;
    margin-left:1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}
.navbar{
    display:flex;
    flex-direction:row;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:var(--navbar-height);
    background-color: var(--navbar-color);

    /*border-bottom:3px solid var(--border);
    border-radius: 5px;*/
    box-shadow: var(--shadow);
}