:root {
  /*--bg-dark: hsl(0 0% 0%);
  --bg: hsl(0 0% 5%);
  --bg-light: hsl(0 0% 10%);
  --text:hsl(0 0% 95%);
  --text-muted:hsl(0 0% 70%);
  --border:hsl(0 0% 30%);*/
  /*--bg-dark: hsl(336 0% 1%);
  --bg: hsl(300 0% 4%);
  --bg-light: hsl(0 0% 9%);
  --text: hsl(300 0% 95%);
  --text-muted: hsl(300 0% 69%);
  --highlight: hsl(330 0% 39%);
  --border: hsl(0 0% 28%);
  --border-muted: hsl(300 0% 18%);
  --primary: hsl(51 42% 57%);
  --secondary: hsl(235 71% 79%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);*/
  --bg-dark: hsl(132 100% 1%);
  --bg: hsl(131 100% 3%);
  --bg-light: hsl(133 69% 6%);
  --text: hsl(129 100% 90%);
  --text-muted: hsl(130 32% 65%);
  --highlight: hsl(132 32% 34%);
  --border: hsl(135 49% 22%);
  --border-muted: hsl(141 100% 10%);
  --primary: hsl(130 35% 64%);
  --secondary: hsl(304 41% 72%);
  --danger: hsl(9 47% 65%);
  --warning: hsl(51 32% 52%);
  --success: hsl(149 31% 55%);
  --info: hsl(217 52% 67%);

  --navbar-color: hsl(123, 100%, 12%);

  --border-card: 1px solid var(--border);
  --gradient: linear-gradient(0deg, var(--bg) 98%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --shadow: 0 2px 2px hsla(0, 0%, 0%, 0.7), 0px 4px 4px hsla(0, 0%, 0%, 0.15);

  --navbar-height: 4rem;
}
@media (prefers-color-scheme: light) {
  :root {
  /*--bg-dark: hsl(0 0% 90%);
  --bg: hsl(0 0% 95%);
  --bg-light: hsl(0 0% 100%);
  --text:hsl(0 0% 5%);
  --text:hsl(0 0% 30%);
  --border:hsl(0 0% 30%);*/
  /*--bg-dark: hsl(0 0% 90%);
  --bg: hsl(300 0% 95%);
  --bg-light: hsl(300 50% 100%);
  --text: hsl(300 0% 4%);
  --text-muted: hsl(0 0% 28%);
  --highlight: hsl(300 50% 100%);
  --border: hsl(NaN 0% 50%);
  --border-muted: hsl(340 0% 62%);
  --primary: hsl(53 100% 12%);
  --secondary: hsl(239 33% 36%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);*/
  --bg-dark: hsl(128 45% 88%);
  --bg: hsl(128 78% 93%);
  --bg-light: hsl(128 100% 98%);
  --text: hsl(135 100% 2%);
  --text-muted: hsl(135 49% 22%);
  --highlight: hsl(129 100% 95%);
  --border: hsl(131 24% 45%);
  --border-muted: hsl(130 26% 57%);
  --primary: hsl(138 63% 21%);
  --secondary: hsl(303 34% 29%);
  --danger: hsl(8 36% 41%);
  --warning: hsl(52 58% 28%);
  --success: hsl(152 45% 31%);
  --info: hsl(217 38% 43%);

  --border-card: 1px solid var(--bg);
  /*--gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));*/
  }
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  color: var(--foreground);
  background: var(--bg-dark);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-container {
  margin-top: calc(var(--navbar-height) + 10px);
  width:100%;
  height:100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.description {
  height:auto;
  width: auto;
  
  gap: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 8px;
  margin-top:20px;
  color: var(--text-muted);
  
  font-size: 1.25rem;
  color: var(--text-muted);
  padding:5px 10px 5px 15px;
  padding: 8px;

  border-radius: 10px;
  border: var(--border-card);
  border-top:var(--highlight);

  box-shadow: var(--shadow);
  background: var(--gradient);
}
.description:hover {
  /*background: var(--gradient-hover);*/
}
.description .title {
  color: var(--text);
  font-size: 2rem;
  padding: 0;
  padding-bottom: 5px;
}

.description .subtitle {
  color: var(--text);
  font-size: 1.5rem;
  padding: 0;
  padding-bottom: 5px;
  padding-top: 5px;
}
.description ul {
  margin-left: 20px;
}
.description ul li {
  margin-bottom: 2px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
