.categoryTitle {
    display: flex;
    text-align: left;
    padding:5px 10px 5px 10px;
    margin: 5px 0px 5px 0px;
    
    font-size: 2rem;
    color: var(--text);

    border-radius: 10px;
    border:solid 1px var(--border);
    border-top: solid 1px var(--highlight); 

    background: var(--gradient);

    box-shadow: var(--shadow);
}
/*
.categoryTitle:hover {
    background: var(--gradient-hover);
}
*/
.caseList{
    box-sizing: border-box;
    display: grid;
    width:100%;
    grid-template-columns: repeat(auto-fill, minmax(min(360px, 100%), 1fr));
    gap: 10px;
    padding:5px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    /*margin: 5px 10px 5px 10px;*/
}
.categoryList{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    padding:5px 0px 5px 16px;
    margin: 0px 0px 0px 0px;

    /*border:solid 1px var(--border);
    border-top: solid 1px var(--highlight); 
    border-radius: 10px;*/
}
.topContainer{
    margin: 8px;
    padding: 0px;
}
.categoryContainer{
    margin-left: 0px;
    margin-right: 0px;
}
.caseContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: 10px;
    margin: 5px 0px 5px 0px;
}

.case {
    display: flex;
    flex-direction: row;

    background: var(--gradient);

    border-radius: 10px;
    border:var(--border-card);
    box-shadow: var(--shadow);
}
.case:hover {
    background: var(--gradient-hover);
}
.svg{
    display: flex;
    height: 100%;
    width: auto;
    margin:5px 5px 5px 5px;
}
.caseInfo {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    color: var(--text);
    border-radius: inherit;
    border-color:azure;
    background-color: var(--bg-light);
    width:100%;
    height:auto;
    margin-left: 5px;
}
.caseTitle {
    font-size: 1.5rem;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.caseAlg {
    font-size: 1.2rem;
    padding-left: 5px;
    padding-bottom: 5px;
    color: var(--text-muted);
    word-wrap: break-word;
}
.a {
    text-decoration: none;
}